BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
SortIncludes: true
